
body {
  transition: background-color 0.3s, color 0.3s;
}

.bg-light {
  background-color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-red {
  color: #ff1654;
}

.dark .bg-light {
  background-color: #111;
}

.dark .text-black {
  color: #e0e0e0;
}

.dark .text-red {
  color: #ff4b5c;
}